body{
	margin:0;
	padding: 0;
}
@font-face{
	font-family: Roboto;
	src: url("Fonts/Roboto.ttf");
}

.main-content{
	margin: 0 auto;
	width: 100%;
	max-width:1168px;
	background: #4b5f7b;
	padding-top: 106px;
	display: flex;
	flex-direction: column;
}

.header-content{
	margin:0 auto;
	width: 100%;
	max-width: 928px;
	background:#fff;
	height: 60px;
	display: flex;
}

.section-content{
	width: 100%;
	max-width: 928px;
	margin:0 auto;
	margin-top: 13px;
	display: flex;
}

#hamburger{
	width: 60px;
	height: 60px;
	background: #56ccc8;
}

#menu-icon{
	padding:21px 20px 0 18px;
}

#text-header{
	width: 387px;
	height: 16px;
	color: #475055;
	display: flex;
	justify-content: space-between;
	margin-top:23px;
	margin-left: 47px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

#search{
	margin-top: 22px;
	margin-left: 213px;
	margin-right: 21px;
}
.cursor{
	cursor: pointer;
}

#ftg{
	width: 119px;
	border-left: 1px solid #dde2e4;
	border-right: 1px solid #dde2e4;
}

#icon-block{
	display: flex;
	justify-content: space-around;
	margin-top: 25px;
}

#login-icon{
	margin: 0 auto;
	margin-top: 22px;
	margin-left: 22px;
}

.first-content{
	width: 224px;
	display: flex;
	flex-direction: column;
}

#first-icon{
	display: flex;
	flex-direction: row;
	height: 60px; 
	border-bottom: 1px solid #dde2e4;
	background-color: #ffffff;
}

#first-icon-padding{
	padding: 19px 0 19px 17px;
}

#second-icon{
	display: flex;
	flex-direction: row;
	height: 60px; 
	border-bottom: 1px solid #dde2e4;
	background-color: #ffffff;
}

#second-icon-padding{
	padding: 19px 0 18px 16px;
}

#third-icon{
	display: flex;
	flex-direction: row;
	height: 60px; 
	border-bottom: 1px solid #dde2e4;
	background-color: #56ccc8;
}
#third-icon-padding{
	padding: 17px 0 20px 20px;
}

#four-icon{
	display: flex;
	flex-direction: row;
	height: 60px; 
	border-bottom: 1px solid #dde2e4;
	background-color: #ffffff;
}

#four-icon-padding{
	padding: 20px 0 22px 19px;
}

#five-icon{
	display: flex;
	flex-direction: row;
	height: 60px; 
	border-bottom: 1px solid #dde2e4;
	background-color: #ffffff;
}

#five-icon-padding{
	padding: 20px 0 17px 18px;
}

#six-icon{
	display: flex;
	flex-direction: row;
	height: 60px; 
	border-bottom: 1px solid #dde2e4;
	background-color: #ffffff;
}

#six-icon-padding{
	padding: 18px 0 18px 20px;
}

#seven-icon{
	display: flex;
	flex-direction: row;
	height: 60px; 
	border-bottom: 1px solid #dde2e4;
	background-color: #ffffff;
}

#seven-icon-padding{
	padding: 21px 0 22px 21px;
}

#eight-block{
	height: 246px;
	background-color: #c5cdd1;
	display: flex;
	flex-direction: row;
}

#triple-icon{
	margin-top: 10px;
	width: 25px;
	height: 215px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 21px;
}

#triple-text{
	margin-top: 15px;
	font-size: 14px;
	height: 220px;
	width: 130px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: #ffffff;
	font-family: Roboto;
	font-weight: 400;
	line-height: 20px;
	margin-left: 20px;
}
#home{
	padding: 23px 20px 20px 24px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 20.3px;
}
#store{
	padding: 21px 20px 20px 26px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 20.3px;
}
#blog{
	padding: 21px 20px 20px 23px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 20.3px;
	color: #ffffff;
}
#community{
	padding: 21px 20px 20px 22px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 20.3px;
}
#contests{
	padding: 21px 20px 20px 23px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 20.3px;
}
#about{
	padding: 22px 20px 20px 23px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 20.3px;
}
#contact{
	padding: 21px 20px 20px 23px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 20.3px;
}

.second-content{
	display: flex;
	flex-direction: column;
	background-color: #152840;
	color: #ffffff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;

}

#second-content-block1{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 240px;
	height: 160px;
	box-shadow: 0 1px 0 #445e78;
}
#second-content-text{
	width: 113px;
	height: 106px;
	margin: 20px 0px 0px 12px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
}
#tech-text{
	color: #56ccc8;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 4px;
	padding-right: 70px;
}

#arrow-icon{
	width: 19px;
	height: 20px;
	margin: 23px 0 0 17px;
}

#second-content-block2{
	width: 240px;
	height: 190px;
	background-color: #263a54;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#entertainment-content-text{
	width: 102px;
	height: 140px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	margin: 21px 0px 0px 13px;
}
#entertainment-text{
	color: #56ccc8;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 5px;
}

#arrow-icon2{
	width: 19px;
	height: 20px;
	margin:26px 0px 0px 25px;
}
#second-content-block3{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 240px;
	height: 160px;
	box-shadow: 0 1px 0 #445e78;
}
#business-content-text{
	width: 65px;
	height: 107px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	margin: 22px 0 0 12px;
}
#arrow-icon3{
	width: 19px;
	height: 20px;
	margin: 26px 0px 0px 62px;
}
#business-text{
	color: #56ccc8;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 4px;
}
#second-content-block4{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 240px;
	height: 160px;
	box-shadow: 0 1px 0 #445e78;
}
#lifestyle-content-text{
	width: 116px;
	height: 107px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	margin: 23px 0px 0px 13px;
}
#lifestyle-text{
	color: #56ccc8;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 5px;
}
#arrow-icon4{
	width: 19px;
	height: 20px;
	margin: 26px 0px 0px 11px;
}
#social-networking-list{
	width: 217px; 
	height: 316px;
	display: flex;
	flex-direction: row;
	background-color: #ffffff;
	margin-left: 14px;
}
#social-networking-list-text{
	width: 74px;
	height: 280px;
	color: #475055;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 19px;
}
#social-networking-list-icons{
	width: 32px;
	height: 280px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 19px 22px 0px 27px;
}

.first-soc-icon{
	background-color: #c5cdd1;
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
#a{
	margin: 9px 12px 7px 11px;
}
#s{
	margin: 10px 6px 9px 9px;
}
#d{
	margin:8px 6px 7px 9px;
}
#f{
	margin:7px 6px 8px 9px;
}
#g{
	margin: 8px 9px 6px 10px; 
}

#f-and-t-block{
	height: 316px;
	width: 219px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 14px;
}
#face-block{
	width: 219px;
	height: 151px;
	background-color: #4d6baa;
}
#face-block-icon{
	margin: 23px 28px;
}
#followw{
	height: 25px;
	width: 219px;
	display: flex;
	flex-direction: row;
	color: #ffffff;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	line-height: 28px
}
#twit-block{
	width: 219px;
	height: 151px;
	background-color: #4fc6f8;
}
#num{
	padding: 15px 22px;
}

#stringg{
	padding: 14px 0px 0px 38px;
}

#plus{
	padding: 17px 0px 0px 13px;
}
#followw2{
	display: flex;
	flex-direction: row;
	width: 219px;
	height: 25px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
}
#twit-block-icon{
	margin: 27px 21px;
}
#num2{
	padding: 16px 22px;
}
#stringg2{
	padding: 16px 0px 0px 25px;
}
#fol-icon{
	padding: 17px 12px;
}
#ass{
	background-color: #fff;
	height: 250px;
}

#together{
	width: 464px;
	display: flex;
	flex-direction: row;
}

#all-together{
	display: flex;
	flex-direction: column;
}
#sign-in{
	width: 450px;
	margin-left: 14px;
	background-color: #fff;
	height: 165px;
	margin-top: 14px;
	display: flex;
	flex-direction: column;
}
#sign-in-2{
	width: 450px;
	margin-left: 14px;
	background-color: #fff;
	height: 165px;
	margin-top: 14px;
}
#sign-in-text{
	width: 345px;
	height: 49px;
	color: #475055;
	font-family: "Myriad Pro";
	font-size: 12px;
	font-weight: 400;
	line-height: 28px;
	display: flex;
	flex-direction: column;
	margin: 24px 52px 33px;
}
#te-xt{
	font-family: Roboto;
	font-size: 24px;
	font-weight: 400;
	margin:0 auto;

}
#tex-t{
	font-weight: 400;
	margin: 0 auto;
	font-size: 16px;
}
#sign-in-icons{
	width: 197px;
	height: 32px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#o-n-e{
	width: 32px;
	height: 32px;
	background-color: #4d6baa;
	border-radius: 50%;
	cursor: pointer;
}
#icon-inside-face{
	padding: 9px 11px 7px 12px;
}

#t-w-o{
	width: 32px;
	height: 32px;
	background-color: #4fc6f8;
	border-radius: 50%;
	cursor: pointer;
}

#icon-inside-twit{
	padding: 10px 6px 9px 9px;
}

#t-h-r-e-e{
	width: 32px;
	height: 32px;
	background-color: #ea6060;
	border-radius: 50%;
	cursor: pointer;
}

#icon-inside-g{
	padding: 8px 6px 7px 9px;
}
#f-o-u-r{
	width: 32px;
	height: 32px;
	background-color: #238cc8;
	border-radius: 50%;
	cursor: pointer;
}

#icon-inside-in{
	padding: 7px 7px 9px 8px;
}